.logo {
	border-radius: 50%;
	width: 65px;
	height: 65px;
}
@media screen and (max-width: 1024px) {
	.logo {
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 600px) {
	.logo {
		width: 45px;
		height: 45px;
	}
}
