.partner-item {
	width: 100% / 6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.partner-container {
	margin-top: 160px;
	margin-bottom: 160px;
	font-size: 24px;
}
.partner-container > h5 {
	color: #000;
	width: 400px;
	margin: 0px auto;
	padding-bottom: 80px;
}

.partner-container > h5 > span {
	color: #0097a7;
}
