.hero-banner img {
	width: 100%;
	height: 851px;
	object-fit: cover;
	z-index: 1;
	display: block;
}
.hero-banner {
	position: relative;
}
.hero-banner > .hero-banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	width: 100%;
	z-index: 3;
}
.hero-banner::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.hero-banner-content h1 {
	font-weight: 900;
	font-size: 80px;
	font-family: "Exo 2";
	margin-bottom: 40px;
	line-height: 1;
	margin-top: 0;
}

@media screen and (max-width: 1280px) {
	.hero-banner-content h1 {
		font-size: 64px;
	}
	.hero-banner > img {
		height: 600px;
	}
}

@media screen and (max-width: 960px) {
	.hero-banner-content h1 {
		font-size: 42px;
	}
	.hero-banner > img {
		height: 500px;
	}
}

@media screen and (max-width: 780px) {
	.hero-banner > img {
		height: 400px;
	}
	.hero-banner-content h1 {
		font-size: 36px;
	}
}

@media screen and (max-width: 480px) {
	.hero-banner > img {
		height: 300px;
	}

	.hero-banner-content h1 {
		font-size: 30px;
	}
}
