.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 1401px;
  height: 1037px;
  margin: 0 auto;
}

.sec3-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 800px;
}

.sec3-images > img {
  width: 467px;
  height: 406px;
}
.sec3-images > p {
  width: 405px;
  height: 355px;

  text-align: left;
  color: #ffffff;
  background-color: #333333;
  padding: 26px 30px;
  font-size: 22px;
}

.sec3-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.sec3-content > h1 {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
}
.sec3-content > p {
  width: 528px;
  text-align: center;
  font-size: medium;
  margin-bottom: 22px;
}
