.future-section {
	color: #000;
	display: flex;
}

.cart {
	background-color: white;
	width: 30%;
	padding: 20px;
	border-radius: 16px;
}
.cart:not(:first-child) {
	margin-left: 20px;
}
.cart > img {
	width: 100%;
}
.title {
	display: flex;
	color: #000;
	flex-direction: column;
	align-items: center;
	width: 796px;
}
.main {
	margin: 0px auto;
}

.title > p {
	color: #0097a7;
	font-size: 24px;
	font-weight: 400;
}
.title > h2 {
	font-size: 57px;
	text-align: center;
	margin-top: -16px;
	margin-bottom: 56px;
}
.main-future {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 160px;
}
