.about {
	max-width: 1420px;
	margin: 0 auto;
	color: #000;
	padding-top: 150px;
}
.about > h2,
.about > h3 {
	text-align: center;
	font-size: 26px;
	color: #000;
}
.about > ul {
	font-size: 20px;
	text-align: justify;
}

.map > iframe {
	width: 100%;
	height: 100%;
}
.contact-map {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 15px 50px 15px;
	box-sizing: border-box;
}

.contact-map > iframe {
	width: 100%;
	max-width: 1100px;
	height: 450px;
	border-radius: 12px;
	border: none;
}
@media screen and (max-width: 1480px) {
	.about {
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 130px;
	}
	.about > h2,
	.about > h3 {
		text-align: center;
		font-size: 20px;
		color: #000;
	}
	.about > ul {
		font-size: 18px;
	}
}
@media screen and (max-width: 1280px) {
	.about {
		max-width: 750px;
		margin: 0 auto;
		padding-top: 120px;
	}
	.about > h2,
	.about > h3 {
		text-align: center;
		font-size: 20px;
		color: #000;
	}
	.about > ul {
		font-size: 18px;
		text-align: justify;
	}
}
@media screen and (max-width: 780px) {
	.about {
		max-width: 500px;
		margin: 0 auto;
		padding-top: 30px;
	}
	.about > h2,
	.about > h3 {
		font-size: 18px;
		padding: 10px;
		color: #000;
	}
	.about > ul {
		font-size: 14px;
		text-align: justify;
		padding: 40px;
	}
	.contact-map > iframe {
		height: 400px;
		margin-left: 0px auto;
	}
}
