.contact {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 160px 0px 100px 0px;
	color: #000;
}
.contact-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
	padding-bottom: 60px;
}

.contact-title > h1 {
	font-size: 80px;
	font-family: "Exo";
	margin: 0px;
}
.contact-title > p {
	font-family: "Poppins";
	font-size: 24px;
	color: #000;
	margin: 0px;
	text-align: center;
}

.form-contact {
	background-color: white;
	width: 100%;
	height: 457px;
	max-width: 605px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
form {
	padding: 44px 40px 44px 40px;
}

.map > iframe {
	width: 100%;
	height: 100%;
}
.contact-map {
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
}
.contact-map > iframe {
	width: 1100px;
	height: 600px;
	margin-left: 0px auto;
}
.contact-form button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.form-status {
	font-size: 14px;
	margin-top: 8px;
}

@media screen and (max-width: 1200px) {
	.contact-title {
		width: 700px;
	}

	.contact-title > h1 {
		font-size: 34px;
		margin: 0px;
	}
	.contact-title > p {
		font-size: 18px;
		margin: 0px;
		text-align: center;
		width: 500px;
	}
}
@media screen and (max-width: 780px) {
	.contact {
		min-height: 75vh;
		padding: 0px;
	}
	.contact-title {
		width: 500px;
		padding-bottom: 0px;
	}
	.contact-title > h1 {
		font-size: 28px;
		margin: 0px;
	}
	.contact-title > p {
		font-size: 16px;
		margin: 0px;
		text-align: center;
		width: 500px;
	}
}
@media screen and (max-width: 680px) {
	.contact {
		min-height: 75vh;
		padding: 0px;
	}
	.contact-title {
		width: 500px;
		padding-bottom: 0px;
	}

	.contact-title > h1 {
		font-size: 22px;
		margin: 0px;
	}
	.contact-title > p {
		font-size: 16px;
		margin: 0px;
		text-align: center;
		width: 300px;
	}
}
@media screen and (max-width: 480px) {
	.contact {
		min-height: 75vh;
		padding: 0px;
	}
	.contact-title {
		width: 300px;
		padding-bottom: 0px;
	}

	.contact-title > h1 {
		font-size: 20px;
		margin: 0px;
	}
	.contact-title > p {
		font-size: 14px;
		margin: 0px;
		text-align: center;
		width: 300px;
	}
}
