.container {
	max-width: 1400px;
	margin: 0px auto;
	padding: 0 20px;
}

.container.large {
	max-width: 1664px;
}
.container.medium {
	max-width: 1287px;
}

@media screen and (max-width: 1420px) {
	.container {
		max-width: 1000px;
	}
	.container.large {
		max-width: 1300px;
	}
	.container.medium {
		max-width: 1200px;
	}
}

@media screen and (max-width: 1280px) {
	.container {
		max-width: 960px;
	}
	.container.large {
		max-width: 960px;
	}
	.container.medium {
		max-width: 960px;
	}
}

@media screen and (max-width: 960px) {
	.container {
		max-width: 100%;
	}
	.container.large {
		max-width: 100%;
	}
	.container.medium {
		max-width: 100%;
	}
}
