.footer {
	background-color: #333333;
}
.footer-section {
	display: flex;
	flex-direction: column;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 16px;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	background-color: #949494;
	height: 1px;
}
.footer-section p {
	text-align: center;
}
.footer-bottom > a:hover {
	transform: scale(1.3);
}
.footer-bottom:not(:first-child) {
	margin-left: 24px;
}

.social {
	display: flex;
	justify-content: center;
}
.info-icon {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
}
.info-icon > a {
	color: #fff;
	background: none;
}
.info-hr {
	width: 180px;
	height: 1px;
}
hr {
	width: 100%;
}
.footer-top > img {
	width: 72px;
	height: 72px;
	border-radius: 50%;
}
.footer-botom-youtube {
	color: #ff0000;
	width: 30px;
	height: 30px;
}
.footer-botom-facebook {
	color: #1877f2;
	width: 30px;
	height: 30px;
}
.footer-botom-instagram {
	color: #f074ff;
	width: 30px;
	height: 30px;
}
@media (max-width: 768px) {
	.footer-nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 0px;
	}
	.footer-top > img {
		width: 40px;
		height: 40px;
	}
	.footer-info {
		padding-right: 10px;
	}
	.info-icon {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.social {
		margin: 0;
		justify-content: center;
	}
	.footer-botom-youtube {
		width: 25px;
		height: 25px;
	}
	.footer-botom-facebook {
		width: 25px;
		height: 25px;
	}
	.footer-botom-instagram {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 680px) {
	.footer-nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.info-icon > a {
		font-size: 12px;
	}
	.info-hr {
		width: 100%;
	}
	.footer-bottom > a {
		width: 10px;
		height: 10px;
	}
	.footer-botom-icon {
		width: 20px;
		height: 20px;
	}
	.footer-botom-youtube {
		width: 20px;
		height: 20px;
	}
	.footer-botom-facebook {
		width: 20px;
		height: 20px;
	}
	.footer-botom-instagram {
		width: 20px;
		height: 20px;
	}
}
