.form .form-input {
  margin-bottom: 40px;
}

.form-input {
  width: 100%;
  background-color: transparent;
  padding: 11px 0;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

form div {
  height: 2px;
  width: 100%;
  background-color: #000;
}

textarea {
  background: none;
  color: #000;
  width: 100%;
  padding-top: 56px;
}

.form-btn {
  width: 100%;
}
form > p {
  text-align: center;
}
