.overlay {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	padding: 20px;
	background: #000000b3;
}

.popup {
	background: #fff;
	padding: 30px;
	border-radius: 16px;
	width: 100%;
	max-width: 900px;
	color: #333;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	position: relative;
	display: flex;
	flex-direction: column;
}

.bank-number-table {
	display: grid;
	grid-template-columns: 1.5fr repeat(4, 1fr);
	gap: 1px;
	background: #eee;
	border: 1px solid #eee;
	margin: 20px 0;
}

.bank-number-header {
	background: #f8f9fa;
	padding: 12px;
	font-weight: 700;
	text-align: center;
}

.bank-number-row {
	display: contents;
}

.bank-number-cell,
.bank-name {
	background: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
}

.bank-name {
	justify-content: flex-start;
	font-weight: 600;
	color: #0298a6;
}

.copy-btn {
	background: transparent;
	border: 1px dashed #ccc;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	position: relative;
	font-size: 14px;
	transition: all 0.2s;
	color: #000;
}

.copy-btn:hover {
	background: #f0fdfa;
	border-color: #0298a6;
}

.tooltip {
	position: absolute;
	bottom: 110%;
	left: 50%;
	transform: translateX(-50%);
	background: #333;
	color: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 11px;
	white-space: nowrap;
	z-index: 10;
}

.close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	color: #000;
}
.close {
	width: 24px;
	height: 24px;
	transition: transform 0.2s ease;
	cursor: pointer;
}
.close:hover {
	transform: scale(1.3);
}

@media (max-width: 1024px) {
	.bank-number-table {
		display: flex;
		justify-content: center;
		background: transparent;
		border: none;
		margin: 0px;
	}

	.bank-number-header {
		display: none;
	}

	.bank-number-row {
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;
		border: 1px solid #ddd;
		border-radius: 12px;
		overflow: hidden;
		width: 50%;
	}

	.bank-name {
		background: #0298a6;
		color: #fff;
		justify-content: center;
		font-size: 1.2rem;
		padding: 15px;
	}

	.bank-number-cell {
		display: flex;
		justify-content: space-between;
		padding: 12px 15px;
		border-bottom: 1px solid #eee;
	}

	.bank-number-cell::before {
		font-weight: 700;
		color: #666;
		margin-right: 10px;
	}
}
@media (max-width: 768px) {
	.overlay > .popup > h2 {
		padding: 0px;
		margin-top: 20px;
		font-size: 18px;
	}
	.bank-number-table {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: transparent;
		border: none;
		height: 50vh;
	}

	.bank-number-header {
		display: none;
	}

	.bank-number-row {
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;
		border: 1px solid #ddd;
		border-radius: 12px;
		overflow: hidden;
		width: 100%;
	}

	.bank-name {
		background: #0298a6;
		color: #fff;
		justify-content: center;
		font-size: 1.2rem;
		padding: 15px;
		height: 25px;
	}

	.bank-number-cell {
		display: flex;
		justify-content: flex-start;
		padding: 12px 15px;
		border-bottom: 1px solid #eee;
		min-height: 36px;
	}

	.bank-number-cell::before {
		font-weight: 700;
		color: #666;
		margin-right: 10px;
	}

	.copy-btn {
		background: transparent;
		border: 1px dashed #ccc;
		padding: 8px;
		border-radius: 4px;
		cursor: pointer;
		width: 100% !important;
		position: relative;
		font-size: 14px;
		transition: all 0.2s;
		color: #000;
	}

	.close-btn {
		top: 15px;
		right: -20px;
	}

	.close {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 480px) {
	.overlay > .popup > h2 {
		padding: 10px;
		margin-top: 10px;
		font-size: 16px;
	}
	.bank-name {
		background: #0298a6;
		color: #fff;
		justify-content: center;
		font-size: 14px;
		padding: 5px;
		min-height: 10px;
	}
	.bank-number-table {
		display: flex;
		flex-direction: column;
	}
	.bank-number-cell {
		display: flex;
		justify-content: flex-start;
		padding: 0px;
		border-bottom: 1px solid #eee;
		min-height: 35px;
		font-size: 12px;
		height: 35px;
	}
	.bank-number-row {
		overflow: visible;
	}

	.copy-btn {
		background: transparent;
		border: 1px dashed #ccc;
		padding: 8px;
		border-radius: 4px;
		cursor: pointer;
		width: 100% !important;
		position: relative;
		font-size: 12px;
		transition: all 0.2s;
		color: #000;
	}

	.close-btn {
		top: 15px;
		right: -20px;
	}
	.close {
		width: 20px;
		height: 20px;
	}
}
