@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Exo";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/exo-v25-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/exo-2-v26-latin-regular.woff2") format("woff2");
}
:root {
	font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #f5f5dc;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
	font-family: "Poppins", sans-serif;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}
.g-recaptcha {
	color: green;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.section-title {
	font-family: "Exo 2", sans-serif;
	font-size: 64px;
	font-weight: 600;
}
.section-desc {
	font-size: 20px;
}
.text-center {
	text-align: center;
}

a {
	font-family: "Exo", sans-serif;
}
@media screen and (max-width: 1280px) {
	.section-title {
		font-size: 32px;
	}
	.section-desc {
		font-size: 18px;
	}
}

@media screen and (max-width: 960px) {
	.section-title {
		font-size: 26px;
	}
	.section-desc {
		font-size: 16px;
	}
}

@keyframes siteFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
